:host {
  width: 100%;
}

router-outlet {
  width: 100%;
}

.example-container {
  height: 100%;
}

mat-nav-list {
  width: 200px;
}

[ng-reflect-router-link-active="active"] {
  font-weight: bold;
}
