:host {
  width: 100%;
}

router-outlet {
  width: 100%;
}

.example-container {
  height: 100%;
}

mat-nav-list {
  width: 200px;
  span {
    padding-left: .5em;
  }
}

.active {
  font-weight: bold;
}

.page-title {
  padding-left: 2em;
}
